%section#contact
  #flash
    - flash.each do |name, msg|
      = content_tag :div, :id => "flash_#{name}" do
        %p= msg
  .container
    .row-fluid.decorative-headline
      %hr.span3
      %h2.span6 Habe ich Dein Interesse geweckt?
      %hr.span3
    .row-fluid
      %p.big.sub-head Kannst Du dir eine Zusammenarbeit vorstellen? Dann schreibe mir eine Nachricht!
      .social-contacts
        = link_to "http://twitter.com/burza", class: "social-contact sc-twitter", title: "Twitter-Profil ansehen!" do
          %i.icon-twitter
        = link_to "http://www.linkedin.com/pub/gregor-swatek/41/b50/220", class: "social-contact sc-linkedin", title: "LinkedIn-Profil ansehen!" do
          %i.icon-linkedin
        = link_to "http://plus.google.com/u/0/116830736520623705384", class: "social-contact sc-gplus", title: "+google-Profil ansehen!" do
          %i.icon-google-plus
        = link_to "http://github.com/burza", class: "social-contact sc-github", title: "GitHub-Profil ansehen!" do
          %i.icon-github-alt
    .row-fluid
      %p.or Oder benutze einfach die klassische Methode ...
      
      =# form_for @message, :url => { :controller => "home", :action => "create" }, :method => :post do |f|

      =# form_for(@message, :url => { :action => "create" , :anchor => "contact" }) do |f|

      = form_for @message, :url => contact_path(@message, :anchor => 'contact') do |f|        
        %fieldset.fields
          .field.row-fluid
            .span6
              = f.label :name
              = f.text_field :name
          .field.row-fluid
            .span6
              = f.label :email
              = f.text_field :email
          .field.row-fluid
            .span6
              = f.label :subject
              = f.text_field :subject
          .field.row-fluid
            .span6
              = f.label :body
              = f.text_area :body, :rows => 4
          .field.actions.row-fluid
            .span6
              %button.btn.btn-primary{ :type => "submit"}= t("helpers.label.message.submit")
