%section#projects
  .container

    %h2 Was ich bisher gemacht habe!
    %p.big LOREM IPSUM DOLOR SIT AMET CONSETETUR SADIPSCING, SED DIAM NONUMY EIRMOD TEMPOR INVIDUNT UT LABORE ET DOLORE MAGNA ERAT.

    .row-fluid
      .project.span3
        .image= image_tag("projects/rentnroll.png")
        .details
          %a.project-info{:href => "#"}
            %i.icon-info-sign.icon-white
          %a.project-tags{:href => "#"}
            %i.icon-tags.icon-white
          %a.project-link{:href => "http://www.rent-n-roll.de/"}
            %i.icon-link.icon-white

      .project.span3
        .image= image_tag("projects/rentnroll_mobile.png")
        .details
          %a.project-info{:href => "#"}
            %i.icon-info-sign.icon-white
          %a.project-tags{:href => "#"}
            %i.icon-tags.icon-white
          %a.project-link{:href => "http://itunes.apple.com/de/app/rentnroll-mobile/id431236473?mt=8"}
            %i.icon-link.icon-white

      .project.span3
        .image= image_tag("projects/mindmatters.png")
        .details
          %a.project-info{:href => "#"}
            %i.icon-info-sign.icon-white
          %a.project-tags{:href => "#"}
            %i.icon-tags.icon-white
          %a.project-link{:href => "http://www.mindmatters.de/"}
            %i.icon-link.icon-white

      .project.span3
        .image= image_tag("projects/mikestar.png")
        .details
          %a.project-info{:href => "#"}
            %i.icon-info-sign.icon-white
          %a.project-tags{:href => "#"}
            %i.icon-tags.icon-white
          %a.project-link{:href => "http://www.mikestar.de/"}
            %i.icon-link.icon-white

    .row-fluid
      .project.span3
        .image= image_tag("projects/annikahirsch.png")
        .details
          %a.project-info{:href => "#"}
            %i.icon-info-sign.icon-white
          %a.project-tags{:href => "#"}
            %i.icon-tags.icon-white
          %a.project-link{:href => "http://www.annikahirsch.de/"}
            %i.icon-link.icon-white

      .project.span3
        .image= image_tag("projects/mittagsplaner.png")
        .details
          %a.project-info{:href => "#"}
            %i.icon-info-sign.icon-white
          %a.project-tags{:href => "#"}
            %i.icon-tags.icon-white
          %a.project-link{:href => "http://www.mittagsplaner.de/"}
            %i.icon-link.icon-white

      .project.span3
        .image= image_tag("projects/67rockwell.png")
        .details
          %a.project-info{:href => "#"}
            %i.icon-info-sign.icon-white
          %a.project-tags{:href => "#"}
            %i.icon-tags.icon-white
          %a.project-link{:href => "http://www.67rockwell.de/"}
            %i.icon-link.icon-white

      .project.span3
        .image= image_tag("projects/cashbits.png")
        .details
          %a.project-info{:href => "#"}
            %i.icon-info-sign.icon-white
          %a.project-tags{:href => "#"}
            %i.icon-tags.icon-white
          %a.project-link{:href => "http://www.cashbits.de/"}
            %i.icon-link.icon-white

    .row-fluid
      .project.span3
        .image= image_tag("projects/mylugo.png")
        .details
          %a.project-info{:href => "#"}
            %i.icon-info-sign.icon-white
          %a.project-tags{:href => "#"}
            %i.icon-tags.icon-white
          %a.project-link{:href => "http://www.mylugo.de/"}
            %i.icon-link.icon-white

      .project.span3
        .image= image_tag("projects/vileda.png")
        .details
          %a.project-info{:href => "#"}
            %i.icon-info-sign.icon-white
          %a.project-tags{:href => "#"}
            %i.icon-tags.icon-white
          %a.project-link{:href => "http://www.vileda.de/"}
            %i.icon-link.icon-white

