%section#projects
  .container
    .row-fluid.decorative-headline
      %span.span3
      %h2.span6 Was ich bisher gemacht habe!
      %span.span3
    .row-fluid
      %p.big.sub-head.span10.offset1 Überblick über meine bisherigen Projekte und deren Umfang.

    
    %ul.projects
      .row-fluid
        %li.project.span3
          %a{:href => "http://www.rent-n-roll.de/"}
            .image= image_tag("projects/rentnroll.png")
            .zoom-in
              %i.icon-search

        %li.project.span3
          %a{:href => "http://itunes.apple.com/de/app/rentnroll-mobile/id431236473?mt=8"}
            .image= image_tag("projects/rentnroll_mobile.png")
            .zoom-in
              %i.icon-search

        %li.project.span3
          %a{:href => "http://www.mindmatters.de/"}
            .image= image_tag("projects/mindmatters.png")
            .zoom-in
              %i.icon-search


        %li.project.span3
          %a{:href => "http://www.mikestar.de/"}
            .image= image_tag("projects/mikestar.png")
            .zoom-in
              %i.icon-search

      .row-fluid
        %li.project.span3
          %a{:href => "http://www.annikahirsch.de/"}
            .image= image_tag("projects/annikahirsch.png")
            .zoom-in
              %i.icon-search


        %li.project.span3
          %a{:href => "http://www.mittagsplaner.de/"}
            .image= image_tag("projects/mittagsplaner.png")
            .zoom-in
              %i.icon-search

        %li.project.span3
          %a{:href => "http://www.67rockwell.de/"}
            .image= image_tag("projects/67rockwell.png")
            .zoom-in
              %i.icon-search

        %li.project.span3
          %a{:href => "http://www.cashbits.de/"}
            .image= image_tag("projects/cashbits.png")
            .zoom-in
              %i.icon-search

      .row-fluid
        %li.project.span3
          %a{:href => "http://www.mylugo.de/"}
            .image= image_tag("projects/mylugo.png")
            .zoom-in
              %i.icon-search

        %li.project.span3
          %a{:href => "http://www.vileda.de/"}  
            .image= image_tag("projects/vileda.png")
            .zoom-in
              %i.icon-search


