%section#services
  .container
    .row-fluid.decorative-headline
      %span.span3
      %h2.span6 Wobei kann ich Dir helfen?      
      %span.span3
    .row-fluid
      %p.big.sub-head.span10.offset1
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .row-fluid.services-wrapper
      .span12-fluid
        %article.row-fluid
          .service-teaser.span4
            %figure
              .image-vignette= image_tag('konzept_teaser.png')
              %figcaption
                %h2.retro-head.green Konzept
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          .service-teaser.span4
            %figure
              .image-vignette= image_tag('design_teaser.png')
              %figcaption
                %h2.retro-head.blue Design
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          .service-teaser.span4
            %figure
              .image-vignette= image_tag('development_teaser.png')
              %figcaption
                %h2.retro-head.red Entwicklung
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    .row-fluid= image_tag('services_directions.png', :class => "services-directions span12")

    %article.service.row-fluid
      = image_tag('teaser_concept2.jpg', :class => "span4", :style => "opacity:.2")
      .span5.offset1
        %h3 Konzept
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

    %article.service.row-fluid
      = image_tag('teaser_design.jpg', :class => "span4 pull-right", :style => "opacity:.2")
      .span5.offset1
        %h3 Design
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          
    %article.service.row-fluid
      = image_tag('teaser_development.jpg', :class => "span4", :style => "opacity:.2")
      .span5.offset1
        %h3 Entwicklung
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    
