
= render :partial => 'home'


/ = render :partial => 'services_intro'


= render :partial => 'services'


= render :partial => 'projects'


= render :partial => 'about'

= render :partial => 'contact'

