!!!
%html
  %head
    %meta{'charset' => 'utf-8'}
    - title = yield(:title)
    %title= title.blank? ? "Gregor Swatek - Frontend Craftsman and Agile Design Prophet" : "Gregor Swatek - " + title
    %meta{'name' => 'keywords', 'content' => yield(:meta_keywords)}/
    %meta{'name' => 'description', 'content' => yield(:meta_description)}/
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
    %meta{'name' => 'googlebot', 'content' => 'all,index,follow,noodp'}/
    %meta{'name' => 'viewport', 'content' => 'width=device-width, initial-scale=1.0'}/
    
    %link{'href' => 'http://fonts.googleapis.com/css?family=Alex+Brush|Open+Sans:300italic,400italic,700italic', 'rel' => 'stylesheet', 'type' => 'text/css'}
    %link{'rel' => 'apple-touch-icon-precomposed', 'sizes' => '144x144', 'href' => image_path('icons/apple-touch-icon-144-precomposed.png')}
    %link{'rel' => 'apple-touch-icon-precomposed', 'sizes' => '114x114', 'href' => image_path('icons/apple-touch-icon-114-precomposed.png')}
    %link{'rel' => 'apple-touch-icon-precomposed', 'sizes' => '72x72', 'href' => image_path('icons/apple-touch-icon-72-precomposed.png')}
    %link{'rel' => 'apple-touch-icon-precomposed', 'href' => image_path('icons/apple-touch-icon-57-precomposed.png')}
    %link{'rel' => 'shortcut icon', 'href' => image_path('icons/favicon3.png')}
    
    /[if lt IE 9]
      %script{'src' => 'http://html5shiv.googlecode.com/svn/trunk/html5.js'}/
    
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %button.btn.btn-navbar{ 'type' => 'button', 'data-toggle' => 'collapse', 'data-target' => '.nav-collapse' }
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{ 'href' => '#' } Agile Design
          .nav-collapse.collapse
            %ul.nav.pull-right
              %li
                %a{'href' => '#'}
                  %i.icon-home.icon-white
                  
              %li.active
                %a{'href' => '#'} Leistungen
              %li
                %a{'href' => '#about'} Projekte
              %li
                %a{'href' => '#contact'} Über mich
              %li
                %a{'href' => '#contact'} Kontakt
    .container= yield
    = javascript_include_tag "application"
  

